/* src/components/Dashboard.css */
.dashboard {
  flex: 1;
  padding: 20px;
  background-color: #1c1c28;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.top-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .bottom-section {
    flex-direction: row;
  }
}
